.kakao-login {
  background-color: #fee500;
  border-radius: 7px;
  box-shadow: 0px 4px 6px #00000040;
  height: 48px;
  position: relative;
  width: 320px;
}

.kakao-login .kako-vector {
  height: 17px;
  left: 15px;
  position: absolute;
  top: 16px;
  width: 18px;
}

.kakao-login .element {
  color: #000000;
  font-family: var(--bold-16-font-family);
  font-size: var(--bold-16-font-size);
  font-style: var(--bold-16-font-style);
  font-weight: var(--bold-16-font-weight);
  left: 117px;
  letter-spacing: var(--bold-16-letter-spacing);
  line-height: var(--bold-16-line-height);
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
}
